*{
    margin: 0;
}
/* header section */
header{
    background-image: url("image/banner/banner2.png");
    width: 100%;
    height: 100vh;
    left: 1600px;
    top: 0px;
    background-size: cover;
    margin-bottom: 50px;
    
}
.head-section{
    text-align: right;
    padding-top: 130px;
    margin-left: 300px;
    margin-right: 100px;
    
}
.head-title{
    padding: 30px;
    font-size: 3rem;
}
.head-description{
    padding-bottom: 30px;
}
.btn-primary{
    background-color:#F15B22;
    border: 0;
    border-radius: 5px;
    padding: 20px 25px;
    color: white;
}
/* end head section */
/* main section part 1&2 style */
.main-section-part1{
    display: flex;
    gap: 50px;
}
.main-section-img{
    margin-left: 100px;
   
 
}
.main-section-part2{
    margin-top: 250px;
    margin-right: 200px;
}
.main-section-description{
    margin-bottom: 10px;
}
ul li{
    list-style:circle;
    line-height: 25px;
}
/* end main section part 1 & 2 */
/* main section part 3 style */
.title-h1{
    text-align: center;
    margin-top: 30px ;
}
.main-section-part3{
    display: flex;
    gap: 70px;
    text-align: center;
    margin: 30px 270px;
}
/* end main section part 3 */
/* start main section part 4 */
.grident-section{
 
    

}
.main-part4-title{
    color: white;
    margin-bottom: 20px;
}
.main-part4-btn{
    padding: 10px 25px;
    color: #F15B22;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
}
.main-section-part4{
    background-image: url("image/gradient2.png");
    background-repeat: no-repeat;
    margin: 70px 270px;
    padding: 43px;
    background-size: cover;
    position: relative;
}
.grident-img{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    height: 100%;
}

/* end main section part4 */
.footer-section{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    
}
.footer-section-part1{
    margin-left: 270px;
    padding-top: 50px;
    padding-bottom: 50px;

}
.footer-section-part2{
    margin-right: 270px;
    padding-top: 50px;
}
.footer-title{
    margin-bottom: 10px;
}
.footer-p{
    margin-bottom: 10px;
}
.footer-img{
    padding: 10px;
}
.footer-input{
    background-color: black;
    padding: 15px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
}


